<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->

<!--This is an example of what you are expected to do here-->

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="Post Title">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="Post Body">
              <br>
              Author:<br>
              <select name = "author_id">
                <% authors.forEach(function(author) { %>
                <option value="<%= author.id %>"><%= author.first_name %></option>
              <br/>
              <% }); %>
              </select>
            <br><br>
              Category:<br>
                <div>
                    <% categories.forEach(function(category) { %>
                        <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                    <label for="<%= category.name %>"><%= category.name %></label>                 
                <br/>
                <% }); %>
                </div>
               <br><br>

              <input type="submit" value="Create Post" onClick="checkCat()">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Post') { %>

<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            <form action="/blog/post/<%= post.id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="<%= post.post_title %>">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="<%= post.post_body %>">
              <br><br>
              Category:<br>
              <div>
                   <% categories.forEach(function(category) { %>
                  <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                  <label for="<%= category.name %>"><%= category.name %></label>
                  
              <br/>
             <% }); %>
               </div>
            <br>

            <input type="submit" value="Update Post" onClick="checkCat()">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">
        <div class="">
             <h1>Details of a Single post</h1>
             <p>I am a post for this ID = <%= post.id %></p>
             <p>Post Title: <%= post.post_title %></p>
             <p>Post Body:  <%= post.post_body %></p>
             <p>
            <b>Posted by Author: </b> <%= post.Author.first_name %> <%= post.Author.last_name %> <br/>
            <b>Inside Categories:</b> <% post.categories.forEach(function(category) { %>  <a href="/blog/category/<%= category.id %>/"> <%= category.name %> </a>  <% }); %>
            </p>
             <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>

             <% if(post.Comments.length == 0) { %>
                <h2>There are no comments for this post yet </h2>
            <% } else { %>
                <h2>All Comments on this Post</h2>
                <div class="">
                    <ol>
                    <% post.Comments.forEach(function(comment) { %>
                            <li>
                                <p><%= comment.title %>
                                    --- <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
                                </p>
                            </li>
                        <br/>
                    <% }); %>
                    </ol>
                </div>    
             <% } %>   
            <!--Form to post comment-->
            <h1>POST A NEW COMMENT </h1>
            <form action="/blog/comment/create" method="post">
                  Comment Title:<br>
                  <input type="text" name="comment_title" value="Comment Title">
                  <br><br>
                  <input type="hidden" name="post_id" value="<%= post.id %>">
                  <input type="submit" value="Create Comment">
            </form>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post: <%= post.post_body %>
                    <b>Posted by Author: </b> <%= post.Author.first_name %> <%= post.Author.last_name %> <br/>
                    <!--Category: DISPLAY CATEGORY HERE -->
                    <b>Inside Categories: </b> <% post.categories.forEach(function(category) { %>  <a href="/blog/category/<%= category.id %>/"> <%= category.name %> </a>  <% }); %>
                    </p>
                     <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>
    
<% } %>


<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>

<!--POST VIEW END HERE-->

<!--AUTHOR VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create Author') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            <form action="" method="post">
              First Name:<br>
              <input type="text" name="first_name" placeholder="First Name">
              <br>
              Last Name:<br>
              <input type="text" name="last_name" placeholder="Last Name">
              <br>
              Username:<br>
              <input type="text" name="username" placeholder="Username">
              <br>
              Email:<br>
              <input type="text" name="email" placeholder="email@email.com">
              <br>
              Role:<br>
              <input type="text" name="role" placeholder="Role">
              <br><br>
              <input type="submit" value="Create Author">
            </form>
        </div>
    </div>

<% } else if (title == 'Delete Author') { %>

<% } else if (title == 'Update Author') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            <form action="" method="post">
              First Name:<br>
              <input type="text" name="first_name" value=<%= author.first_name %> >
              <br>
              Last Name:<br>
              <input type="text" name="last_name" value=<%= author.last_name %> >
              <br>
              Username:<br>
              <input type="text" name="username" value=<%= author.username %> >
              <br>
              Email:<br>
              <input type="text" name="email" value=<%= author.email %> >
              <br>
              Role:<br>
              <input type="text" name="role" value=<%= author.role %>>
              <br><br>
              <input type="submit" value="Update Author">
            </form>
        </div>
    </div>

<% } else if (title == 'Author Details') { %>
    <div class="col-sm-8">
        <div class="">
             <h1>Details of a Single author - <%= author.first_name %> <%= author.last_name %> </h1>
             <p>I am an author with this ID = <%= author.id %></p>
             <p>First Name: <%= author.first_name %></p>
             <p>Last Name:  <%= author.last_name %></p>
             <a href="/blog/author/<%= author.id %>/update">Edit  Author</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a>

        <% if(author.Posts.length == 0) { %>
            <h2>There are no posts by this author yet </h2>
        <% } else { %>
            <h2>All Posts by this Author</h2>
            <div class="">
                <ol>
                <% author.Posts.forEach(function(post) { %>
                    <li>
                        <p> 
                            <a href="/blog/post/<%= post.id %>"><%= post.post_title %></a>
                            <br/>
                            <%= post.post_body %>
                            <br/> <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                        </p>
                    </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
        <% } %>
        </div>

    <h2>Create new post for this author </h2>

    <form action="/blog/post/create" method="post">
        Post Title:<br>
        <input type="text" name="post_title" value="Post Title">
        <br><br/>
        Post Body:<br>
        <input type="text" name="post_body" value="Post Body">
        <br><br>


        <input type="hidden" name="author_id" value="<%= author.id %>">
        Category:<br>
        <div>
            <% categories.forEach(function(category) { %>
            <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
            <label for="<%= category.name %>"><%= category.name %></label>
            
        <br/>
        <% }); %>
            </div>
        <br>
        <input type="submit" value="Create Post" onClick="checkCat()">

    </form>
    </div>

<% } else if (title == 'Author List') { %>
    <div class="col-sm-8">
        <div class="">
            <ol>
            <% authors.forEach(function(author) { %>
            <% console.log(authors) %>
                    <li>
                        <h4><a href="/blog/author/<%= author.id %>"><%= author.first_name %></a></h4>
                        <p><%= author.last_name %></p>
                        <p><%= author.username %></p>
                        <p><%= author.email %></p>
                        <p><%= author.role %></p>
                         <a href="/blog/author/<%= author.id %>/update">Edit  Author</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
        <a href="/blog/author/create"> CLICK HERE TO CREATE AUTHOR</a>
    </div>
<% }  %>

<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>

<!--AUTHOR VIEW END HERE-->

<!-- USER VIEW STARTS HERE -->
<% if (title == 'Create User') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            <form action="" method="post">
              First Name:<br>
              <input type="text" name="first_name" placeholder="First Name">
              <br>
              Last Name:<br>
              <input type="text" name="last_name" placeholder="Last Name">
              <br>
              Username:<br>
              <input type="text" name="username" placeholder="Username">
              <br>
              Role:<br>
              <input type="text" name="role" placeholder="Role">
              <br>
              Email:<br>
              <input type="text" name="email" placeholder="email">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>

<% } else if (title == 'Delete User') { %>

<% } else if (title == 'Update User') { %>
    <div class="col-sm-8">
        <div class="jumbotron">

            <form action="" method="post">
              First Name:<br>
              <input type="text" name="first_name" value=<%= user.first_name %> >
              <br>
              Last Name:<br>
              <input type="text" name="last_name" value=<%= user.last_name %>>
              <br>
              Username:<br>
              <input type="text" name="username" value=<%= user.username %>>
              <br>
              Email:<br>
              <input type="text" name="email" value=<%= user.email %>>
              <br>
              Role:<br>
              <input type="text" name="role" value=<%= user.role %>>
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>

<% } else if (title == 'User Details') { %>
    <div class="col-sm-8">
        <div class="">
             <h1>Details of a Single user</h1>
             <p>I am a user with this ID = <%= user.id %></p>
             <p>First Name: <%= user.first_name %></p>
             <p>Last Name:  <%= user.last_name %></p>
             <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
        </div>
    </div>

<% } else if (title == 'User List') { %>
    <div class="col-sm-8">
        <div class="">
            <ol>
            <% users.forEach(function(user) { %>
            <% console.log(users) %>
                    <li>
                        <h4><a href="/blog/user/<%= user.id %>"><%= user.first_name %></a></h4>
                        <p><%= user.last_name %></p>
                        <p><%= user.username %></p>
                        <p><%= user.role %></p>
                        <p><%= user.email %></p>
                         <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>

<% }  %>

<!-- USER VIEW ENDS HERE -->

<!--COMMENT VIEW STARTS HERE-->
<!--complete logic for category view-->

<% if (title == 'Create Comment') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            
        </div>
    </div>

<% } else if (title == 'Delete Comment') { %>

<% } else if (title == 'Update Comment') { %>
    <div class="col-sm-8">
        <div class="jumbotron">

            <form action="" method="post">
              Title:<br>
              <input type="text" name="title" value=<%= comment.title %> >
              <br>
              <br><br>
              <input type="submit" value="Update Comment">
            </form>
        </div>
    </div>

<% } else if (title == 'Comment Details') { %>
    <div class="col-sm-8">
        <div class="">
             <h1>Details of a Comment</h1>
             <p>Welcome to comment <%= comment.id %></p>
             <p>Comment:  <%= comment.title %></p>
             <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
        </div>
    </div>

<% } else if (title == 'Comment List') { %>
    <div class="col-sm-8">
        <div class="">
            <ol>
            <% comments.forEach(function(comment) { %>
            <% console.log(comments) %>
                    <li>
                        <h4><a href="/blog/comment/<%= comment.id %>"><%= comment.title %></a></h4>
                         <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>

<% }  %>

<!--COMMENT VIEW END HERE-->

<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->

<!-- CATEGORY VIEW STARTS HERE -->
<% if (title == 'Create Category') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            <form action="" method="post">
              Name:<br>
              <input type="text" name="name" placeholder="Category Name">
              <br><br>
              <input type="submit" value="Create Category">
            </form>
        </div>
    </div>

<% } else if (title == 'Delete Category') { %>

<% } else if (title == 'Update Category') { %>
    <div class="col-sm-8">
        <div class="jumbotron">
            <form action="/blog/category/<%= category.id %>/update" method="post">
              Name:<br>
              <input type="text" name="name" value=<%= category.name %> >
              <br>
              <br><br>
              <input type="submit" value="Update Category">
            </form>
        </div>
    </div>

<% } else if (title == 'Category Details') { %>
    <div class="col-sm-8">
        <div class="">
             <h1>Details of a Single category - <%= category.name %></h1>
             <p>Welcome to category <%= category.id %></p>
             <p>Category:  <%= category.name %></p>
             <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
        </div>
        <% if(category.posts.length == 0) { %>
            <h2>There are no posts under this category yet </h2>
        <% } else { %>
            <h2>All Posts in this Category</h2>
            <div class="">
                <ol>
                <% category.posts.forEach(function(post) { %>
                        <li>
                            <p><%= post.post_title %><br>
                               <%= post.post_body %>
                                <br/><a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>

    </div>

<% } else if (title == 'Category List') { %>
    <div class="col-sm-8">
        <div class="">
            <ol>
            <% categories.forEach(function(category) { %>
            <% console.log(categories) %>
                    <li>
                        <h4><a href="/blog/category/<%= category.id %>"><%= category.name %></a></h4>
                         <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
        <a href="/blog/category/create"> CLICK HERE TO CREATE CATEGORY</a>
    </div>

<% } else { %>

<% } %>


<!--CATEGORY VIEW END HERE-->


<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->
